name: CI/CD Docker Deploy

on:
  push:
    branches:
      -main

jobs:
  build-and-push:
    runs-on: ubuntu-lates
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: romansaiko/car-price-prediction-api:latest      
        
      - name: Deploying
        uses: appleboy/ssh-action@0.1.8
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            docker image pull romansaiko/car-price-prediction-api:latest
            docker container stop car-price-prediction-api
            docker container rm car-price-prediction-api
            docker container run -d --name car-price-prediction-api
             -p 127.0.0.1:8001:8000 -e MLFLOW_TRACKING_USERNAME=${{ secrets.MLFLOW_TRACKING_USERNAME }}
             -e MLFLOW_TRACKING_PASSWORD=${{ secrets.MLFLOW_TRACKING_PASSWORD }} 
             -e MLFLOW_URL=${{ secrets.MLFLOW_URL }} romansaiko/car-price-prediction-api